:root {
    // 首页标题
    --vp-home-hero-name-color: transparent;
    --vp-home-hero-name-background: linear-gradient(135deg,#17ead9,#6078ea);
    // 首页图标背景 
    --vp-home-hero-image-background-image: linear-gradient(135deg,#17ead9,#6078ea);
    --vp-home-hero-image-filter: blur(100px);
    // 首页brand按钮
    --vp-button-brand-border: #bae7ff;
    --vp-button-brand-text: #f0f9ff;
    --vp-button-brand-bg: #538ce9;
    --vp-button-brand-hover-border: #bae7ff;
    --vp-button-brand-hover-text: #fff;
    --vp-button-brand-hover-bg: #096dd9;
    --vp-button-brand-active-border: #f0f9ff;
    //  主题颜色：导航
    --vp-c-brand:  #538ce9;
    --vp-c-brand-light:  #77a3ea;
    --vp-c-brand-lighter:  #ebf3ff;
    --vp-c-brand-dark:  #096dd9;
    --vp-c-brand-darker:  #003a8c;
    // 代码
    --vp-c-text-code:var(--vp-c-brand-dark);
    //页面背景色
    --vt-bg-doc: rgba(var(--vt-c-bg-rgb), 1) !important;
    //标题h1颜色
}
.dark {
    // 代码
    --vp-c-text-code:var(--vp-c-brand-lighter);
    .VPNavBar {
        background-color: rgba($color: #000, $alpha: 0.9);
    }
    .VPNavBar.has-sidebar {
        background-color:#000;
    }
    .VPTeamPageTitle .title, .VPTeamPageTitle .lead{
        color: #aaa;
    }
}
// 导航栏
.VPNavBar {
    background-color: rgba($color: #ebf7ff, $alpha: 0.8);
}
.VPNavBar.has-sidebar {
    background-color:#fff;
    .curtain ::before {
        background: linear-gradient(rgba($color: var(--vp-c-bg), $alpha: 0.5), transparent 70%);
    }
}
//页面标题1
.VPDoc .container .vp-doc h1, .VPDoc .container .vp-doc h1 a {
    color: var(#6078ea);
}
//页面标题2
.VPDoc .container .vp-doc h2 {
    border-bottom: 4px solid #53dfd357 ;
}
//页面<code><code/>颜色
.VPDoc .container .vp-doc :not(pre) > code {
    font-size: 0.5px;
    color:var(--success);
    border: 1px solid rgb(120 24 52 / 25%);
    background-color: var(--vp-c-pink-dimm-3);
    margin: 0 2px;
}
.VPTeamPageTitle .title, .VPTeamPageTitle .lead{
    color: var(--vp-c-pink);
}
.VPSidebarItem.level-1.is-link.is-active.has-active {
    background-color: rgba($color: var(--vp-c-brand), $alpha: 0.1);
    border-radius: 5px;
    .indicator {
        background-color: rgba($color: var(--vp-c-brand), $alpha: 0.8);
        width: 0.15rem;
    }
}
//首页第二行字的颜色
.VPHome .VPHero .container .main .tagline {
    background: linear-gradient(to right, #17ead9, #6078ea);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    max-width: 100%;
}
.VPHome .VPFeatures {
    padding: 32px;
    margin: 0 15%;
    margin-bottom: 5%;
    background: linear-gradient(to right, rgb(21 224 229 / 22%), rgb(83 140 233 / 36%))  !important; 
    border-radius: 16px;
}
.VPHome .VPFeatures .item .VPFeature .details {
    color: #3baae7;
    font-size: 15px;
    line-height: 1.5rem;
}
