@font-face {
  font-family: "iconfont"; /* Project id 3866918 */
  src: 
      /* url('iconfont.woff2?t=1676255710067') format('woff2'), */
       /* url('iconfont.woff?t=1676255710067') format('woff'), */
       url('iconfont.ttf?t=1676255710067') format('truetype');
}

[class*="k-icon"]  {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.k-icon-jian:before {
  content: "\e620";
}

.k-icon-guanbi:before {
  content: "\e622";
}

.k-icon-bangzhu:before {
  content: "\e623";
}

.k-icon-kaiguan:before {
  content: "\e624";
}

.k-icon-shanchu1:before {
  content: "\e625";
}

.k-icon-tixing:before {
  content: "\e626";
}

.k-icon-sousuo1:before {
  content: "\e628";
}

.k-icon-youjian:before {
  content: "\e629";
}

.k-icon-zhuyi:before {
  content: "\e62a";
}

.k-icon-xuanzhong:before {
  content: "\e62b";
}

.k-icon-liebiao:before {
  content: "\e62e";
}

.k-icon-dingwei1:before {
  content: "\e62f";
}

.k-icon-shijian:before {
  content: "\e638";
}

.k-icon-baocun:before {
  content: "\e63e";
}

.k-icon-shang:before {
  content: "\e63f";
}

.k-icon-xia:before {
  content: "\e640";
}

.k-icon-zuo:before {
  content: "\e641";
}

.k-icon-biaoge:before {
  content: "\e642";
}

.k-icon-chakan:before {
  content: "\e643";
}

.k-icon-yanjing:before {
  content: "\e60f";
}

.k-icon-bukejian1:before {
  content: "\e659";
}

.k-icon-bukejian2:before {
  content: "\e61c";
}

.k-icon-cut:before {
  content: "\e66a";
}

.k-icon-add:before {
  content: "\e689";
}

.k-icon-xianxingbianji:before {
  content: "\e604";
}

.k-icon-xianxingguanji:before {
  content: "\e606";
}

.k-icon-xianxingguanbi:before {
  content: "\e611";
}

.k-icon-shezhi-xianxing1:before {
  content: "\e61e";
}

.k-icon-bukejian3:before {
  content: "\ee34";
}

.k-icon-a-fenxiang2:before {
  content: "\e630";
}

.k-icon-bianji:before {
  content: "\e631";
}

.k-icon-jinru:before {
  content: "\e632";
}

.k-icon-download_line:before {
  content: "\e742";
}

.k-icon-entrance_line:before {
  content: "\e743";
}

.k-icon-eye_line:before {
  content: "\e745";
}

.k-icon-female_line:before {
  content: "\e746";
}

.k-icon-fewer_line:before {
  content: "\e747";
}

.k-icon-fullscreen_arrow_exit_line:before {
  content: "\e74f";
}

.k-icon-fullscreen_exit_line:before {
  content: "\e750";
}

.k-icon-fullscreen_line:before {
  content: "\e751";
}

.k-icon-gear_line:before {
  content: "\e752";
}

.k-icon-heart_line:before {
  content: "\e755";
}

.k-icon-github_line:before {
  content: "\e754";
}

.k-icon-health_line:before {
  content: "\e756";
}

.k-icon-information_circle_line:before {
  content: "\e75b";
}

.k-icon-interflow_line:before {
  content: "\e75c";
}

.k-icon-keyboard_circle_line:before {
  content: "\e75d";
}

.k-icon-left_line:before {
  content: "\e75f";
}

.k-icon-left_small:before {
  content: "\e760";
}

.k-icon-left_small_line:before {
  content: "\e761";
}

.k-icon-location_circle_line:before {
  content: "\e763";
}

.k-icon-location_line:before {
  content: "\e764";
}

.k-icon-lock_line:before {
  content: "\e765";
}

.k-icon-more_horizontal_line:before {
  content: "\e773";
}

.k-icon-more_vertical_line:before {
  content: "\e774";
}

.k-icon-navigation_line:before {
  content: "\e778";
}

.k-icon-pause_line:before {
  content: "\e77e";
}

.k-icon-music_line:before {
  content: "\e78b";
}

.k-icon-pin_line:before {
  content: "\e78e";
}

.k-icon-play_line:before {
  content: "\e791";
}

.k-icon-radar_line:before {
  content: "\e796";
}

.k-icon-recycle_line:before {
  content: "\e797";
}

.k-icon-refresh_line:before {
  content: "\e798";
}

.k-icon-refresh_arrows_line:before {
  content: "\e799";
}

.k-icon-repeat_line:before {
  content: "\e79a";
}

.k-icon-right_line:before {
  content: "\e79c";
}

.k-icon-right_small_fill:before {
  content: "\e79d";
}

.k-icon-right_small_line:before {
  content: "\e79e";
}

.k-icon-rotate_to_horizontal_line:before {
  content: "\e79f";
}

.k-icon-selector_horizontal:before {
  content: "\e7a8";
}

.k-icon-selector_horizontal_line:before {
  content: "\e7a9";
}

.k-icon-selector_vertical:before {
  content: "\e7aa";
}

.k-icon-selector_vertical_line:before {
  content: "\e7ab";
}

.k-icon-setting_line:before {
  content: "\e7ac";
}

.k-icon-settings_line:before {
  content: "\e7ad";
}

.k-icon-share_circle_line:before {
  content: "\e7ae";
}

.k-icon-share_forward_line:before {
  content: "\e7af";
}

.k-icon-shield_line:before {
  content: "\e7b0";
}

.k-icon-shop_add_line:before {
  content: "\e7b1";
}

.k-icon-shop_line:before {
  content: "\e7b2";
}

.k-icon-shop_manage_line:before {
  content: "\e7b3";
}

.k-icon-shopping_cart_line:before {
  content: "\e7b4";
}

.k-icon-square_arrow_down_line:before {
  content: "\e7b5";
}

.k-icon-square_arrow_left_line:before {
  content: "\e7b6";
}

.k-icon-square_arrow_right_line:before {
  content: "\e7b7";
}

.k-icon-square_arrow_up_line:before {
  content: "\e7b8";
}

.k-icon-star_arc_line:before {
  content: "\e7b9";
}

.k-icon-star_line:before {
  content: "\e7ba";
}

.k-icon-storage_line:before {
  content: "\e7bb";
}

.k-icon-switch_horizontal_line:before {
  content: "\e7bc";
}

.k-icon-tag_line:before {
  content: "\e7bd";
}

.k-icon-switch_vertical_line:before {
  content: "\e7be";
}

.k-icon-text_line:before {
  content: "\e7bf";
}

.k-icon-transfer_horizontal_line:before {
  content: "\e7c1";
}

.k-icon-transfer_vertical_line:before {
  content: "\e7c2";
}

.k-icon-trash_line:before {
  content: "\e7c4";
}

.k-icon-tv_line:before {
  content: "\e7c7";
}

.k-icon-unlink_line:before {
  content: "\e7c8";
}

.k-icon-up_line:before {
  content: "\e7c9";
}

.k-icon-up_small_fill:before {
  content: "\e7ca";
}

.k-icon-up_small_line:before {
  content: "\e7cb";
}

.k-icon-upload_clound_line:before {
  content: "\e7cc";
}

.k-icon-upload_line:before {
  content: "\e7cd";
}

.k-icon-upload_square_line:before {
  content: "\e7ce";
}

.k-icon-weibo_line:before {
  content: "\e7d5";
}

.k-icon-youtube_line:before {
  content: "\e7d8";
}

.k-icon-warning_line:before {
  content: "\e7da";
}

.k-icon-planet_line:before {
  content: "\e7db";
}

.k-icon-search_line:before {
  content: "\e7dd";
}

.k-icon-translate_line:before {
  content: "\e7de";
}

.k-icon-volume_line:before {
  content: "\e7e1";
}

.k-icon-volume_mute_line:before {
  content: "\e7e2";
}

.k-icon-zoom_in_line:before {
  content: "\e7e6";
}

.k-icon-zoom_out_line:before {
  content: "\e7e7";
}

.k-icon-search_arc_line:before {
  content: "\e7eb";
}

.k-icon-add_circle_line:before {
  content: "\e715";
}

.k-icon-add_line:before {
  content: "\e716";
}

.k-icon-address_book_line:before {
  content: "\e717";
}

.k-icon-adjust_line:before {
  content: "\e718";
}

.k-icon-alert_line:before {
  content: "\e719";
}

.k-icon-arow_to_up_line:before {
  content: "\e71a";
}

.k-icon-announcement_line:before {
  content: "\e71b";
}

.k-icon-arrow_down_circle_line:before {
  content: "\e71c";
}

.k-icon-arrow_down_line:before {
  content: "\e71d";
}

.k-icon-arrow_left_circle_line:before {
  content: "\e71e";
}

.k-icon-arrow_left_line:before {
  content: "\e71f";
}

.k-icon-arrow_right_circle_line:before {
  content: "\e720";
}

.k-icon-arrow_up_circle_line:before {
  content: "\e721";
}

.k-icon-arrow_right_line:before {
  content: "\e722";
}

.k-icon-article_line:before {
  content: "\e723";
}

.k-icon-at_line:before {
  content: "\e724";
}

.k-icon-arrow_up_line:before {
  content: "\e725";
}

.k-icon-arow_to_down_line:before {
  content: "\e726";
}

.k-icon-alipay_line:before {
  content: "\e727";
}

.k-icon-attachment_line:before {
  content: "\e728";
}

.k-icon-audit_line:before {
  content: "\e729";
}

.k-icon-bill_1_line:before {
  content: "\e72a";
}

.k-icon-bluetooth_line:before {
  content: "\e72b";
}

.k-icon-bluetooth_off_line:before {
  content: "\e72c";
}

.k-icon-book_open_line:before {
  content: "\e72d";
}

.k-icon-book_line:before {
  content: "\e72e";
}

.k-icon-bank_card_line:before {
  content: "\e72f";
}

.k-icon-bank_line:before {
  content: "\e730";
}

.k-icon-camcorder_line:before {
  content: "\e731";
}

.k-icon-camera_line:before {
  content: "\e732";
}

.k-icon-circle_arrow_left_line:before {
  content: "\e733";
}

.k-icon-circle_arrow_down_line:before {
  content: "\e734";
}

.k-icon-circle_arrow_right_line:before {
  content: "\e735";
}

.k-icon-check_circle_line:before {
  content: "\e736";
}

.k-icon-circle_arrow_up_line:before {
  content: "\e737";
}

.k-icon-cursor_line:before {
  content: "\e73a";
}

.k-icon-data_cylinder_line:before {
  content: "\e73b";
}

.k-icon-down_line:before {
  content: "\e73e";
}

.k-icon-down_small:before {
  content: "\e73f";
}

.k-icon-down_small_line:before {
  content: "\e740";
}

.k-icon-down_square_line:before {
  content: "\e741";
}

.k-icon-chevron-down:before {
  content: "\e608";
}

.k-icon-chevron-left:before {
  content: "\e609";
}

.k-icon-chevron-right:before {
  content: "\e60a";
}

.k-icon-chevron-up:before {
  content: "\e60b";
}

.k-icon-bofang:before {
  content: "\e60c";
}

.k-icon-dingwei:before {
  content: "\e60d";
}

.k-icon-tingyong:before {
  content: "\e60e";
}

.k-icon-jiazai:before {
  content: "\e607";
}

.k-icon-shezhi-xianxing:before {
  content: "\e621";
}

.k-icon-tianjia:before {
  content: "\e62d";
}

.k-icon-sousuo:before {
  content: "\e635";
}

.k-icon-xiazai:before {
  content: "\e63b";
}

.k-icon-bianjixiugai:before {
  content: "\e63c";
}

.k-icon-shanchu:before {
  content: "\e63d";
}
