@import url(./assets/iconfont/iconfont.css);
@import url(./assets/bass.css);
:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  /*通用颜色变量*/
  --default:rgba(221, 204, 238, 0.877);
  --primary:#4475a5;
  --success:#6ba74d;
  --info:#909399;
  --warming:#dbaf6c;
  --danger:#e98383;
  /*按钮颜色变量*/
  --btn-color-white:#fff;
  --btn-color-gray:#9b9ea3;
  --btn-color-default-lighter:rgba(240, 236, 245, 0.877);
  --btn-color-primary-lighter:#c5e0fc;
  --btn-color-success-lighter:#c8eeb6;
  --btn-color-info-lighter:#e6e7eb;
  --btn-color-warming-lighter:#f7e2c4;
  --btn-color-danger-lighter:#f7cbcb;
  /*边框颜色变量*/
  --default-border-color:#dfd7d7;
  --active-border-color:#3863ee;
  /*默认字体颜色*/
  --default-text-color:#5c5757;
  /*按钮内容样式*/
.kbcontent{
    border: solid 1px var(--default-border-color);
    border-radius: 10px;
  }
}

body{
  margin: 50px;
}
p{
  font-size:3px;
}
code {
  margin: 0 1px;
  padding: 0.2em 0.4em;
  font-size: 0.9em;
  background: rgba(0, 0, 0, 0.04);
  border: 1px solid rgba(5, 5, 5, 0.06);
  border-radius: 3px;
}
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
